* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #d9dcd6;
  }

  /* Changed to header from .header and replaced div with nav as it falls within the navigation section */

  header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
  }
  
  header h1 {
    display: inline-block;
    font-size: 48px;
  }
  
  header h1 .seo {
    color: #d9dcd6;
  }
  
  header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  header nav ul {
    list-style-type: none;
  }
  
  header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
  }
  
  .hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../images/digital-marketing-meeting.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .float-left {
    float: left;
    margin-right: 25px;
  }
  
  .float-right {
    float: right;
    margin-left: 25px;
  }

  /* Changed .content to main as it is the main section of the site */
  
  main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
  }
  
  .benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
  }
  
  /* Changed the class to .sideinfo to group all the aside content and as the styling values were the same I deleted the rest */

  .sideinfo {
    margin-bottom: 32px;
    color: #ffffff;
  }
  
  
  .sideinfo h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  
  .sideinfo img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
  }
  

  /* Changed the class to .info to group the article section and deleted the rest as it all now shares the same styling through the .info class */
  
  .info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }
  
  
  .info img {
    max-height: 200px;
  }
  

  
  .info h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }
 
  
/* Changed div class="footer" to footer for easier labelling of the footer section */

  footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  
  footer h2 {
    font-size: 20px;
  }
  